body
{
background-color: #e0e0e0;
}

#error
{
font-size: 200%;
color: black;
font-weight: bold;
}

.jumbotron
{
background:url(static/nyskyline.jpg);
background-size: 100% 150%;
background-repeat: no-repeat;
}

h1
{
font-size: 200%;
color: white;
font-weight:bold;
font-family: "Avantgarde", sans-serif;
}

#top-para
{
font-size: 200%;
color: white;
font-family: "Avantgarde", sans-serif;
}

#top-para2
{
font-size: 100%;
color:white;
font-family: "Avantgarde", sans-serif;
}