<!DOCTYPE>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> Home </title>
    <link href="CSS/home.css" type="text/css" rel="stylesheet">
    <link href="CSS/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="CSS/semantic.min.css" type="text/css" rel="stylesheet">
  </head>

  <body>
      <div class="jumbotron">
      <h1 id="heading"> TRIP PLANNER </h1>
      <br>
      <p id="top-para"> New York has thousands of restaurants. Get out there and find someplace new! </p>
      <p id="top-para2">Please login or register to discover all the restaurants waiting for you on your daily routes! </p>
      </div>
 
      <div class="ui two column page grid">
	<div class="equal height row">
	  <div class="column">
	    <h2> Login </h2>
	    <div class="ui form segment">
	      <form action="login", method="post">
		<div class="field">
		  <label> Username </label>
		  <div class="ui left labeled icon input">
		    <input placeholder="Username" type="text">
		    <i class="user icon"></i>
		    <div class="ui corner label">
		      <i class="icon asterisk"></i>
		    </div>
		  </div>
		  <label> Password </label>
		  <div class="ui left labeled icon input">
		    <input placeholder="Password" type="password">
		    <i class="lock icon"></i>
		    <div class="ui corner label">
		      <i class="icon asterisk"></i>
		  </div>
		  </div>
		</div> <!--field-->
		<input type = "submit" class="ui blue submit button" value="Login"/>
	      </form>
	  </div> <!--ui form segment-->
	  </div> <!--column-->
	  
	  <div class="column">
	    <h3> Register </h3>
	    <div class="ui form segment">
	      <form action="register", method="post">
		<div class="field">
		  <label>Username</label>
		  <div class="ui left labeled icon input">
		    <input name="name" type="text"/>
		    <i class="user icon"></i>
		    <div class="ui corner label">
		      <i class="asterisk icon"></i>
		    </div>
		  </div>
		  
		  <label>Password</label>
		  <div class="ui left labeled icon input">
		    <input name="Password" type="password"/>
		    <i class="lock icon"></i>
		    <div class="ui corner label">
		      <i class="asterisk icon"></i>
		    </div>
		  </div>
		  
		 <label>Confirm Password</label>
		 <div class="ui left labeled icon input">
		   <input name="Confirm Password" type="password"/>
		   <i class="certificate icon"></i>
		   <div class="ui corner label">
		     <i class="asterisk icon"></i>
		   </div>
		 </div>
		 <input type="submit" class="ui blue submit button" value="Submit" />
		</div> <!--field-->
	      </form>
	    </div> <!--ui form segment-->
	  </div> <!--center aligned column-->
	</div> <!-- equal height row -->
      </div> <!-- two column-->
      
      {% if type==1 %}
    <div class="ui error form segment">
      <div class="ui error message">
	<p id="error">Sorry, this username is already taken! Please choose another.</p>
      </div>
    </div>

    {% elif type==2 %}
    <div class="ui error form segment">
      <div class="ui error message">
	<p id="error">Your username must be at least 4 character long and your password must be at least 6 characters long.</p>
      </div>
    </div>
    
    {% elif type==3 %}
    <div class="ui error form segment">
      <div class="ui error message">
	<p id="error">Your passwords did not match. Please try again.</p>
      </div>
    </div>
	{% endif %}
	
	
    </body>
  
