<!DOCTYPE>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> Home </title>
    <link href="CSS/home.css" rel="stylesheet">
    <link href="CSS/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" class="ui" href="CSS/semantic/packaged/css/semantic.min.css"/>
  </head>

  <body>
    <div class="jumbotron">
      <h1> Trip Planner </h1>
      <p> Please login or register to discover all the restaurants waiting for you on your daily routes! </p>
    </div>
 

      <div class="ui form segment">
	<form action="/login", method="post">
	  <div class="field">
	    <label> Username </label>
	    <div class="ui left labeled icon input">
	      <input placeholder="Username" type="text">
	      <i class="user icon"></i>
	      <div class="ui corner label">
		<i class="icon asterisk"></i>
	      </div>
	    </div>
	    <label> Password </label>
	    <div class="ui left labeled icon input">
	      <input placeholder="Password" type="password">
	      <i class="lock icon"></i>
	      <div class="ui corner label">
		<i class="icon asterisk"></i>
	      </div>
	    </div>
	   </div>
	  <input type = "submit" class="ui blue submit button" value="Login"/>
	</form>
      </div>
      </div>
