<!DOCTYPE html>

<html lang="en">
  <head>
    <link href="{{url_for('static', filename='semantic.min.css')}}" rel="stylesheet">

  </head>


  <body>
    <div class="ui menu">
      <a class="item"> Trip Planner </a>
      <div class="right menu">
	<a class="item" href="/profile">
	  <i class="home icon"></i> Profile
	</a>
	
	<div class="item">
	  <div class="ui teal button"> Logout </div>
	</div>
      </div>
    </div>
    {% block content %}
    {% endblock %}
   </body>
</html>
