<!DOCTYPE html>
<html>
<head>
	<title> User Profile </title>
	<style> 
	.hidden{
		opacity: 0;
	}
	.visible{
		opacity: 1;
	}
	</style>
</head>

<body>
	{% if "username" in session %}
		<h1>{{"username"}}'s Profile:</h1>
		<button type="button" id="changepw">Change Password</button>
		<div id="change-pw-field" class="hidden"> 
			<form>
				Enter Old Password: <input type="password" name="pw-old"><br>
				Enter New Password: <input type="password" name="pw-new"><br>
				Reenter New Password: <input type="password" name="confirm-new-pw"><br>
				<input type="button" value="Change Password"> 
			</form>
		</div>
		<form>
		</form>
		<h2>Search Preferences:</h2>
		<form action="">
                    <input type="checkbox" name="preference" value="Italian"> Italian food <br>
                    <input type="checkbox" name="preference" value="French"> French food <br>
		    <input type="checkbox" name="preference" value="Chinese"> Chinese food <br>
		     <input type="checkbox" name="preference" value="Japanese"> Japanese food <br>
		    <input type="checkbox" name="preference" value="Spanish"> Spanish food <br>
	            <input type="checkbox" name="preference" value="Fast"> Fast food <br>
		    <input type="checkbox" name="preference" value="Dessert"> Dessert <br>
		    <input type="checkbox" name="preference" value="Ethiopian"> Ethiopian food <br>
                    <input type="checkbox" name="preference" value="Middle eastern"> Middle eastern food <br>
                   <input type="checkbox" name="preference" value="Polish"> Polish food <br>
                   <input type="checkbox" name="preference" value="Thai"> Thai food <br>
                   <input type="checkbox" name="preference" value="Caribbean"> Caribbean food <br>		
		</form>

	{% else %}
	<p>No user currently logged in</p>
	{% endif %}
	<script>
		function showChangePW(){
			if (document.getElementById("changepw").innerHTML==="Change Password"){
				document.getElementById("change-pw-field").className="visible";
				document.getElementById("changepw").innerHTML="Hide";
			}
			else{
				document.getElementById("change-pw-field").className="hidden";
				document.getElementById("changepw").innerHTML="Change Password";
			}
		}
		
		//Init:
		document.getElementById("changepw").addEventListener("click", showChangePW);
	</script>
</body>
</html>