{% extends "layout.html" %}

{% block content %}
<div id="bg">
<form method = "POST">
 <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px;
      }
    </style>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">

  {% if "error" == 1 %}
   <p class="error"> One or more fields were left blank. </p>
  {% endif %}

  {% if "username" in session %}
  <h1> Input Your Route! </h1>
  <div class="ui two column page grid">
    <div class="column">
	<div class="ui form segment">
	  <form action="/route", method="post">
	    <label> Starting Point </label>
	    <div class="ui left labeled icon input" id="locationField">
	      <input name="start" id="autocomplete" type="text"/>
	      <i class="location icon"></i>
	      <div class="ui corner label">
		<i class="asterisk icon"></i>
	      </div>
	    </div>

	    <label> End Point </label>
	    <div class="ui left labeled icon input" id="locationField2">
	      <input name="end" id="autocomplete2" type="text"/>
	      <i class="flag icon"></i>
	      <div class="ui corner label">
		<i class="asterisk icon"></i>
	      </div>
	    </div>
	    <input type="submit" class="ui blue submit button" value="Submit"/>
	  </form>
	</div> <!--ui form segment-->
     </div> <!-- column-->
    
    <div class="column">
      <div class="ui vertically divided grid">
	<div class="row">
	  <div class="ui form">
	    <div class="ui checkbox">
	      <input name="Add to Preferences!" type="checkbox">
	    </div>
	    <div class="field">
	      <label>I'm in the mood for...</label>
	      <input type="text">
	    </div>
	    <div class="ui blue submit button"> Search </div>
	  </div> <!--ui form-->
	</div> <!-- row -->
	
	<div class="row">
	  <div class="ui selection dropdown">
	    <input name="Preferences" type="hidden">
	    <div class="text"> Preferences </div>
	    <i class="dropdown icon"> </i>
	    <div class="menu">
	    {% set count = 0 %}
	    {% for x in preferences %}
	    <div class="item" data-value= count }> x </div>
	    {% endfor %}
	    </div> <!--menu-->
	  </div> <!--ui selection dropdown-->
	  <div class="ui blue submit button"> Search </div>
	</div> <!--row-->
      </div> <!--column-->
     </div> <!--ui two column page grid-->
 
      

  {% else %}
   <div class="ui error form segment">
     <div class="ui error message">
       <p> Please login first! If you don't have an account yet, please <a href="/"> REGISTER </a> now!</p>
     </div>
   </div>
  {% endif %}
</form>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzb-imYEF9wzQX6r8mTanmjR3U7kZvGaw&sensor=false&libraries=places"></script>
<script>
var placeSearch, autocomplete;
initialize = function() {
  document.getElementById("locationField").addEventListener ("focus",geolocate, false);
  new google.maps.places.Autocomplete((document.getElementById('autocomplete')),{ types: ['geocode'] });
  document.getElementById("locationField2").addEventListener ("focus",geolocate, false);
  new google.maps.places.Autocomplete((document.getElementById('autocomplete2')),{ types: ['geocode'] });
}
geolocate = function(){
}
window.onload = initialize;


    </script>  
{% endblock %}
