{% extends "layout.html" %}

{% block content %}

<style>
  html, body, #map-canvas
  {
  height:100%;
  margin: 0px;
  padding: 0px;
  }
</style>

<div class="bg">
    {% if "username" in session %}
    <h1> INPUT YOUR ROUTE </h1>
    <form action="/results", method="post">
	<div id="mainform" class="ui form segment">
	  
	  <div class="field">
	    <label> Starting Point </label>
	    <div class="ui left labeled icon input" id="locationField">
	      <input name="start" id="autocomplete" type="text"/>
	      <i class="location icon"></i>
	      <div class="ui corner label">
		<i class="asterisk icon"></i>
	      </div>
	    </div>
	   </div>

	   <div class="field">
	     <label> Endpoint </label>
	     <div class="ui left labeled icon input" id="locationField2">
	       <input name="end" id="autocomplete2" type="text"/>
	       <i class="flag icon"></i>
	       <div class="ui corner label">
		 <i class="asterisk icon"></i>
	       </div>
	     </div>
	   </div>

	   <div class="field">
	     <label> I'm in the mood for...</label>
	     <input type="text">
	     
	     <div class="ui checkbox">
	       <input id="unique-id" name="preferences" type="checkbox">
	     </div>
	     <label for="unique-id"> Add to Preferences! </label>
	   </div>

	   <div class="field">
	     <label> Look through your saved preferences! </label>
	     <div class="ui selection dropdown">
	       <input name="preferences"/>
	       <i class="dropdown icon"></i>
	       <div class="menu">
		 
		 {% set count = 0 %}
		 {% for x in preferences %}
		 <div class="item" data-value=count> x </div>
		 {% endfor %}

		 <div class="item active" data-value="-1"> Preferences</div>
	       </div> <!--menu-->
	     </div> <!--ui selection dropdown-->
	   </div> 
	   <div class="ui blue submit button" id="search"> Search </div>
	 </div> <!--ui form segment-->
	 <div name="1" id="0"></div>
	 <div name="2" id="0"></div>
	 <div name="3" id="0"></div>
	 <div name="4" id="0"></div>
	</form>

	      
    {% else %}
    <div class="ui error form segment">
      <div class="ui error message">
	<p>
	Please login first! If you don't have an account yet, <a href="/"> REGISTER </a> now!
	</p>
      </div>
    </div>

    {% endif %}
<br>
<br>
<br>
</div> <!--bg-->

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzb-imYEF9wzQX6r8mTanmjR3U7kZvGaw&sensor=false&libraries=places"></script>

<script>
var placeSearch, autocomplete;
  initialize = function() {
  document.getElementById("locationField").addEventListener ("focus",geolocate, false);
  new google.maps.places.Autocomplete((document.getElementById('autocomplete')),{ types: ['geocode'] });
  document.getElementById("locationField2").addEventListener ("focus",geolocate, false);
  new google.maps.places.Autocomplete((document.getElementById('autocomplete2')),{ types: ['geocode'] });
  }
  geolocate = function(){
  }
  window.onload = initialize;

('.ui.dropdown')
.dropdown()

</script>

<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAjU0EJWnWPMv7oQ-jjS7dYxSPW5CJgpdgO_s4yyMovOaVh_KvvhSfpvagV18eOyDWu7VytS6Bi1CWxw"
      type="text/javascript"></script>
<script type = "text/javascript">

var geocoder;
var result;
latlng;

function initialize2() {
      if (GBrowserIsCompatible()) {
        geocoder = new GClientGeocoder();
      }
    }
window.onload = initialize2;

function showAddress() {
      if (geocoder) {
        latlng = geocoder.getLatLng(document.getElementByName("start").id);
        latlng2 = geocoder.getLatLng(document.getElementByName("end").id);
      }
}
document.getElementByName("1").id = latlng;
document.getElementByName("2").id = latlng2;

window.onload = showAddress;

</script>  


{% endblock %}
