{% extends "layout.html" %}
{% block content %}
<form method = "POST">
 <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px;
      }
    </style>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <style>
	.locationField, #controls {
        position: relative;
        width: 480px;
      }
      #autocomplete, #autocomplete2 {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 99%;
      }
      .locationField {
        height: 20px;
        margin-bottom: 2px;
      }
    </style>

  {% if "error" == 1 %}
   <p class="error"> One or more fields were left blank. </p>
  {% endif %}

  {% if "username" in session %}
  <h1> Input Your Route! </h1>
  <div class="ui two column page grid">
    <div class="equal height row">
      <div class="column">
	<div class="ui form segment">
	  <form action="/route", method="post">
	    <label> Starting Point </label>
	    <div class="ui left labeled icon input">
	      <input name="name" type="text"/>
	      <i class="location icon"></i>
	      <div class="ui corner label">
		<i class="asterisk icon"></i>
	      </div>
	    </div>

	    <label> End Point </label>
	    <div class="ui left labeled icon input">
	      <input name="name" type="text"/>
	      <i class="flag icon"></i>
	      <div class="ui corner label">
		<i class="asterisk icon"></i>
	      </div>
	    </div>
	  </form>
	</div> <!--ui form segment-->
      </div> <!--column-->

      <div class="column">
	<div class="ui grid">
	  <div class="row">
	    <div class="column">
	      <div class="ui segment">
		<div class="ui checkbox">
		  <input name="pizza" type="checkbox">
		  <label> Pizza </label>
		</div>
	      </div>
	    </div>

	    <div class="column">
	      <div class="ui segment">
		<div class="ui checkbox">
		  <input name="deli" type="checkbox">
		  <label> Deli </label>
		</div>
	      </div>
	    </div>

	     <div class="column">
	      <div class="ui segment">
		<div class="ui checkbox">
		  <input name="bar" type="checkbox">
		  <label> Bar </label>
		</div>
	       </div>
	      </div>



      
		   








  {% else % }
   <div class="ui error form segment">
     <div class="ui error message">
       <p> Please login first! If you don't have an account yet, please <a href="/register"> REGISTER </a> now!</p>
  {% endif %}
  <input type = "submit" name="submit" value="Search">
</form>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCzb-imYEF9wzQX6r8mTanmjR3U7kZvGaw&sensor=false&libraries=places"></script>
<script>
var placeSearch, autocomplete;
initialize = function() {
  document.getElementById("locationField").addEventListener ("focus",geolocate, false);
  new google.maps.places.Autocomplete((document.getElementById('autocomplete')),{ types: ['geocode'] });
  document.getElementById("locationField2").addEventListener ("focus",geolocate, false);
  new google.maps.places.Autocomplete((document.getElementById('autocomplete2')),{ types: ['geocode'] });
}
geolocate = function(){
}
window.onload = initialize;


    </script>  
{% endblock %}
